@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

   
*@
@{
    ViewData["Title"] = "Lista De Produtos";
}
<div class="text-center">

    <h1 class="display-4">Listagem de Contatos</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome Produto</th>
                <th scope="col">Vlaor ($)</th>
                <th scope="col">Estoque</th>
                <th scope="col">Açóes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Iphone 14</td>
                <td>6000,00</td>
                <td>10</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-warning">Editar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mc Book Air 13</td>
                <td>6389,10</td>
                <td>2</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-warning">Editar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Apple Watch SE</td>
                <td>2339,10</td>
                <td>5</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-warning">Editar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
