@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Produtos";
}
<div class="text-center">
    <h1 class="display-4">Cadastro de Produto</h1>
</div>
<form>
    <div class="mb-3">
        <label for="exampletext" class="form-label">Nome Do Produto</label>
        <input type="text" class="form-control">
        <div id="text" class="form-text"></div>
    </div>
    <label for="exampletext" class="form-label">Valor do Produto</label>
    <div class="input-group mb-3" >
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
    </div>
    <div class="mb-3">
        <label for="exampleInputnumber" class="form-label">Quantidade em Estoque</label>
        <input type="number" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>